.App {
  text-align: center;
}

.service{
  background-image: url('../src/Assests/img4.jpg');
  background-size: 100vw;
  color: white;
}
.navbar-expand{
  height: 75px;
}
.navi{
  position:fixed;
  width: 100vw;
  top:0px;
  
}